<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>988749332371-nqu18ue8u86fqnufd0vo1h07h23fa8aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988749332371-nqu18ue8u86fqnufd0vo1h07h23fa8aj</string>
	<key>API_KEY</key>
	<string>AIzaSyDnzjnDcDgaSTeh4SuVOLh-IqTOlkL9n-8</string>
	<key>GCM_SENDER_ID</key>
	<string>988749332371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartpoint.Newsline</string>
	<key>PROJECT_ID</key>
	<string>newsline-2</string>
	<key>STORAGE_BUCKET</key>
	<string>newsline-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:988749332371:ios:766def12fcc99088</string>
	<key>DATABASE_URL</key>
	<string>https://newsline-2.firebaseio.com</string>
</dict>
</plist>